networks:
  gateway_net:
    driver: bridge
  redis_cluster_net:
    driver: bridge
  common_net:
    external: true
    name: common_network

services:
  api_gateway:
    build:
      context: .
      dockerfile: Dockerfile
    image: api_gateway:1.0.0
    container_name: api_gateway
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
        # bind config files
      - ./config.yaml:/root/config.yaml
      - ./rate_rules.json:/root/rate_rules.json
      - ./scripts:/root/scripts
      - ./_proto:/root/_proto 
    networks:
      - gateway_net
      - redis_cluster_net
      - common_net
    

  redis-node-1: &redis-node-template
    image:  redis:7.2.11-alpine3.21
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    ports:
      - 7001:6379
    networks:
      - redis_cluster_net

  redis-node-2:
    <<: *redis-node-template
    ports:
      - 7002:6379

  redis-node-3:
    <<: *redis-node-template
    ports:
      - 7003:6379

  redis-node-4:
    <<: *redis-node-template
    ports:
      - 7004:6379
  redis-node-5:
    <<: *redis-node-template
    ports:
      - 7005:6379

  redis-node-6:
    <<: *redis-node-template
    ports:
      - 7006:6379

  redis-cluster-creator:
    image: redis:7.2.11-alpine3.21
    command: > 
      sh -c "sleep 10 && echo 'yes' | redis-cli --cluster create redis-node-1:6379 redis-node-2:6379 redis-node-3:6379 redis-node-4:6379 redis-node-5:6379 redis-node-6:6379 --cluster-replicas 1"
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    networks:
      - redis_cluster_net
    
  redis:
    image: redis:7.2.11-alpine3.21
    container_name: redis
    volumes:
      - redis_data:/data
    ports:
      - 7007:6379
    networks:
      - gateway_net
    command: redis-server --appendonly yes


volumes:
  redis_data:
    driver: local
