apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: dmb
spec:
  selector:
    app: user-service
  ports:
    - port: 8080
      targetPort: 8080
      name: http
    - port: 50051
      targetPort: 50051
      name: grpc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: dmb
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: alimx07/user_service:1.0
          ports:
            - containerPort: 8080
              name: http
            - containerPort: 50051
              name: grpc
          envFrom:
            - configMapRef:
                name: user-service-config
          env:
            - name: PRIMARY_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: userx-db-credentials
                  key: username
            - name: PRIMARY_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: userx-db-credentials
                  key: password
            - name: PRIMARY_DB_URL
              valueFrom:
                secretKeyRef:
                  name: userx-db-credentials
                  key: PRIMARY_DB_URL
            - name: SECONDARY_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: userx-db-credentials
                  key: username
            - name: SECONDARY_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: userx-db-credentials
                  key: password
            - name: SECONDARY_DB_URL
              valueFrom:
                secretKeyRef:
                  name: userx-db-credentials
                  key: SECONDARY_DB_URL
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: userx-cache-credentials
                  key: ELASTICACHE_STANDALONE_ENDPOINT
            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: userx-cache-credentials
                  key: ELASTICACHE_STANDALONE_PORT
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: userx-cache-credentials
                  key: ELASTICACHE_STANDALONE_PASSWORD
            - name: REDIS_CLUSTER_NODES
              valueFrom:
                secretKeyRef:
                  name: userx-cache-credentials
                  key: ELASTICACHE_CLUSTER_ENDPOINT
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 45
            periodSeconds: 10
