networks:
  postgres_net:
    driver: bridge
  app_net:
    driver: bridge
  redis_cluster_net: 
    driver: bridge
  common_net:
    external: true
    name: common_network
  etcd_net:
    external: true
    name: etcd_net


services:
  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: user_service1:1.0.0
    env_file:
      - .user.env
    networks:
      - app_net
      - postgres_net
      - redis_cluster_net
      - common_net
      - etcd_net
    depends_on:
      - postgres_primary
      - postgres_secondary
      - redis-standalone
      - redis-cluster-creator

  postgres_primary:
    image: postgres:17
    container_name: user_postgres_primary
    env_file:
      - .primary.env
    volumes:
      - primary_user_data:/var/lib/postgresql/data
      - ./primary_init:/docker-entrypoint-initdb.d
    networks:
      - postgres_net
      - app_net

  postgres_secondary:
    image: postgres:17
    container_name: user_postgres_secondary
    env_file:
      - .replica.env
    volumes:
      - secondary_user_data:/var/lib/postgresql/data
      - ./secondary_init:/docker-entrypoint-initdb.d
    networks:
      - postgres_net
      - app_net
    restart: on-failure:3


  # Standalone Redis for User Cache
  redis-standalone:
    image: redis:7.2.11-alpine3.21
    container_name: redis-standalone
    volumes:
      - redis_user_data:/data
    networks:
      - app_net
    command: redis-server --appendonly yes

  # Redis Cluster Nodes for Token Management
  redis-node-1: &redis-node-template
    image:  redis:7.2.11-alpine3.21
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - redis_cluster_net
      - app_net

  redis-node-2:
    <<: *redis-node-template

  redis-node-3:
    <<: *redis-node-template


  redis-node-4:
    <<: *redis-node-template

  redis-node-5:
    <<: *redis-node-template


  redis-node-6:
    <<: *redis-node-template


  redis-cluster-creator:
    image: redis:7.2.11-alpine3.21
    command: > 
      sh -c "sleep 10 && echo 'yes' | redis-cli --cluster create redis-node-1:6379 redis-node-2:6379 redis-node-3:6379 redis-node-4:6379 redis-node-5:6379 redis-node-6:6379 --cluster-replicas 1"
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    networks:
      - redis_cluster_net

volumes:
  redis_user_data:
    driver: local
  primary_user_data:
    driver: local
  secondary_user_data:
    driver: local