networks:
  redis_cluster_net:
    driver: bridge
  app_net: 
    driver: bridge
  common_net:
    external: true
    name: common_network
  kafka-net:
    external: true
    name: kafka-net
  etcd_net:
    external: true
    name: etcd_net

services:
  feed_service:
    build:
      context: .
      dockerfile: Dockerfile
    image: feed_service:1.0.0
    env_file:
      - .env
    depends_on:
      - redis-cluster-creator
    volumes:
      - redis_data:/bitnami/redis/data
    networks:
      - app_net
      - redis_cluster_net
      - common_net
      - kafka-net
      - etcd_net

  redis-node-1: &redis-node-template
    image:  redis:7.2.11-alpine3.21
    command: redis-server /usr/local/etc/redis/redis.conf
    volumes:
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - redis_cluster_net

  redis-node-2:
    <<: *redis-node-template

  redis-node-3:
    <<: *redis-node-template


  redis-node-4:
    <<: *redis-node-template

  redis-node-5:
    <<: *redis-node-template
  redis-node-6:
    <<: *redis-node-template

  redis-cluster-creator:
    image: redis:7.2.11-alpine3.21
    command: > 
      sh -c "sleep 10 && echo 'yes' | redis-cli --cluster create redis-node-1:6379 redis-node-2:6379 redis-node-3:6379 redis-node-4:6379 redis-node-5:6379 redis-node-6:6379 --cluster-replicas 1"
    depends_on:
      - redis-node-1
      - redis-node-2
      - redis-node-3
      - redis-node-4
      - redis-node-5
      - redis-node-6
    networks:
      - redis_cluster_net


volumes:
  redis_data: 
    driver: local