server:
  host: "0.0.0.0"
  port: "8080"
  public_key_addr: "localhost:9090"  # User service public key endpoint (overridden by PUBLIC_KEY_ADDR env var in Docker)


rate_limiting:
  rules_config: "rate_rules.json"
  script_path: "scripts/redis_script.lua"
  addrs: 
    - localhost:6379
    - localhost:6380
  pool_size: 3  # pool size per node

redis_config:
  redis_addr: "localhost:7000"
  redis_check_script: "scripts/check_token.lua"
  redis_add_script: "scripts/add_token.lua"
  redis_pool_size: 5

# Service instances for load balancing

protoset_files:
  user_service: "_proto/user.protoset"
  post_service: "_proto/post.protoset"
  follow_service: "_proto/follow.protoset"
  feed_service: "_proto/feed.protoset"


# service_registery: 
#     service_registery_path : http://etcd:2379
#     service_registery_prefix: /services/


k8s_services:
  user_service: "user-service:50051"
  post_service: "post-service:50061"
  follow_service: "follow-service:50071"
  feed_service: "feed-service:50081"


# Default is true , true
route_options:
  # User Service Routes
  "/api/v1/register":
    require_auth: false
    rate_limit_enabled: true
    
  "/api/v1/login":
    require_auth: false
    rate_limit_enabled: true
    
  # "/api/v1/logout":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  "/api/v1/refresh":
    require_auth: false
    rate_limit_enabled: true
    
  # "/api/v1/users":
  #   require_auth: true
  #   rate_limit_enabled: true
  
  # Post Service Routes
  # "/api/v1/posts/post":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # "/api/v1/posts":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # "/api/v1/posts/{PostId}":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # "/api/v1/comments":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # "/api/v1/comments/{CommentId}":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # "/api/v1/likes/{PostId}":
  #   require_auth: true
  #   rate_limit_enabled: true
  
  # Follow Service Routes
  # "/api/v1/followers/{UserId}":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # "/api/v1/following/{UserId}":
  #   require_auth: true
  #   rate_limit_enabled: true

  # "/api/v1/isceleb/{UserId}":
  #   require_auth: true
  #   rate_limit_enabled: true

  # "/api/v1/follow/{FolloweeId}":
  #   require_auth: true
  #   rate_limit_enabled: true
    
  # # Feed Service Routes
  # "/api/v1/feed":
  #   require_auth: true
  #   rate_limit_enabled: true
